@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box; /*Usado para que as larguras não somem os paddings*/
}

body, html{
	height:100%;
}

#tittle{
    color: #000;
    font-family: "Plus Jakarta Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.2px;
}

/* Container configurado para usar a tela inteira do browser usando display flex e centralizando o conteúdo*/
.main{  
    height: 100vh; 
    width: 100vw;
    display: flex;
    justify-content: center; 
}

/* Container de fundo principal para usar uma largura definida de 380px e altura também definida,
O uso de scrolls neste container está desabilitado <overflow=hidden>, pois será criado em outro container de dados */
.main_container {
    display: flex;
    width: 380px;
    height:800px;
  	flex-direction: column;   
  	align-items: center; 
  	min-height: 0;
  	
  	border-radius: 40px 0 40px 0; 
    background-color:#DDD;

    padding: 2rem;
    margin-top: 30px;
    overflow: hidden;
}

.main_container_delimited{
	  display: flex;
	  flex-direction: column;
	  width: 320px;
	  height: 700px;
}

/*Container base do cartão para inserção de novas tasks*/
.main_task_form{
    height: 300px;
    width: 100%;
    border-radius: 10px;
    border-style: solid;
    border-width: 7px;
    border-color: #ffffff;
    background: #F1EEF6;
    padding: 16px;
}
/*Container cabeçalho com título da app e o botão de Add Task Manager*/
.main_task_form_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.main_task_form_btn_add{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    border-radius: 10px;
	border: 0;
    background: #FFF;
    color: #5534A5;
    font-family: "Plus Jakarta Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    

    cursor: pointer; 
    user-select: none; 
    transition: transform 0.1s ease, background-color 0.2s;
}

.line{
    width: 100%;
    border: 0;
    border-top: 1px solid #D1C4E9;
    margin-bottom: 15px;
}

/*Container com os elementos de input text e textarea*/
.main_task_form_inputs {
    display: flex; /* Coloca lado a lado */
    gap: 20px;     /* Espaço entre a barra roxa e o texto */
    flex: 1;       /* Ocupa o espaço restante no cartão */
}

/*Elemento decorativo de barra vertical*/
.main_task_form_inputs_vertical-bar{
    width: 10px;
    border-radius: 10px;
    background: #5534A5;
    flex-shrink: 0;
}

/*Container que define o tamanho em altura total para a inserção de textos pelo usuário.*/
.main_task_form_inputs_textareas{
	width: 100%;
	height: 200px;
}

.main_task_form_inputs_name,
.main_task_form_inputs_description{
    background: transparent; 
    border: none;            
    outline: none;          
    
    font-family: "Plus Jakarta Sans";
    font-size: 16px; 
    color: #333;
}

.main_task_form_inputs_name:focus,
.main_task_form_inputs_description:focus {
	font-weight: bold; 
}


.main.task_form_inputs_name{
    height: 50px;
    border-style: none;
	margin: 10px;
}

.line_input{
    margin-left: -30px;
    width: calc(100% +30px);
    border: 0;
    border-top: 1px solid #D1C4E9;
    margin-bottom: 15px;
    margin-top: 13px;
}
.main_task_form_inputs_description{
    resize: none;
    border: none;
}

::placeholder {
     color: #999; 
     font-weight: 500;
}
/*Container geral da Lista de tarefas recuperadas do BD, irá seguir a mesma dimensão da
container .main_task_form*/
.main_task_list{
    width: 100%;
    display: flex;
    flex-grow: 1;
    height: 400px;

    flex-direction: column;
    align-items: center;

	overflow: auto;
	
    background: white;
    border-radius: 10px;
    padding: 16px;
    margin-top: 10px;
}

.main_task_list_head{
	margin: 5px;
}

.main_task_list_count{
	color: #000000;
	font-weight: bold;
}

.main_task_list_completed{
	color: #999;
}

.main_task_list_enlisted::-webkit-scrollbar {
    width: 4px;
}

.main_task_list_enlisted::-webkit-scrollbar-track {
    background: transparent;
}

.main_task_list_enlisted::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 4px;
}

.main_task_list_enlisted:hover::-webkit-scrollbar-thumb {
    background: #bfbfbf;
}

.main_task_list_enlisted{
	scrollbar-width: thin; /* Compatibilidade com o FireFox*/
    scrollbar-color: #ccc transparent; /* Compatibilidade com o FireFox*/
}


/* Cartão a ser inserido no enlisted */
.task-card {
	/*flex-grow: 0; /*Impede de crescer
	flex-shrink: 0; /*Impede de encolher
	flex-basis: 100%; /*Ocupa sempre 100% do container pai
	flex: 1;
	width:100%;*/
	
	flex: 0 0 100%;
	
    background: #F1EEF6;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    justify-content: space-between; /* Texto na esq, Botão na dir */
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    border: 1px solid #EAEAEA;
    transition: 0.2s;
    margin-bottom: 10px;

}

.task-card:hover {
    transform: translateY(-2px); /* Efeito de levantar */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.task-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.task-title {
    font-size: 14px;
    font-weight: 700;
    color: #333;
}

.task-desc {
    font-size: 12px;
    color: #888;
    margin-top: 2px;
}


.btn-delete {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 5px;
    opacity: 0.6;
    transition: 0.2s;
}

.btn-delete:hover {
    opacity: 1;
    transform: scale(1.1);
}
.footer{
	margin-top:20px;
}
